@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

:root {
    --blue: #66e2dc;
    --red: #fa7453;
    --yellow: #ffb964;
    --white: #fcfaf9;
    --black: #191826;
}

html, h1, h2, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  TYPOGRAPHY */
body {
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--black);
}

h1 {
    font-weight: 700;
    font-size: 88px;
    letter-spacing: -1px;
    line-height: 88px;
}

h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
}

.footer__email {
    font-weight: 700;
}

.body1 {
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
}

#price {
    font-weight: 700;
    font-size: 48px;
    line-height: 42px;
}

button {
    font-weight: 700;
    font-size: 18px;
    width: 100%;
    height: 61px;
    border: none;
    outline: none;
    border-radius: 12px;
}

#ios {
    background-color: var(--black);
    color: var(--white);
    margin-bottom: 16px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

#ios::after {
    content: '';
    background-image: url('assets/icon-apple.svg');
    width: 17.8px;
    height: 20px;
    display: block;
    margin-right: 7.92px;

}

#ios:hover {
    background-color: var(--blue);
    cursor: pointer;
}

#android {
    background-color: var(--white);
    color: var(--black);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

#android::after {
    content: '';
    background-image: url('assets/icon-android.svg');
    width: 16.7px;
    height: 20px;
    display: block;
    margin-right: 7.92px;

}

#android:hover {
    background-color: var(--yellow);
    cursor: pointer;
}

.footer__socials--icon:hover {
    cursor: pointer;
    filter: invert(66%) sepia(70%) saturate(3648%) hue-rotate(327deg) brightness(102%) contrast(96%);
}

/*  ELEMENTS */
.sub__wrapper {
    background-color: var(--red);
    color: var(--white);
    border-radius: 12px;
}

.sub__buttons {
    display: flex;
    flex-direction: column;
}


/*  MEDIA QUERIES */

/* MOBILE */
@media only screen and (max-width: 636px) {
    body {
        background-image: url('assets/bg-main-mobile.png');
        background-repeat: no-repeat;
        background-color: var(--white);
        background-position:top -104px right -159px;
        display: flex;
        justify-content: center;
    }

    h1 {
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.45px;
    }

    .cta__body--text, .sub__body--text {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
    }

    header{
        padding: 40px 24px 64px;
    }

    .cta__wrapper {
        padding: 0px 24px 68px;
    }

    .hero {
        background-color: var(--black);
        border-radius: 12px;
        margin-top: 98px;
    }
    .hero__wrapper {
        background-color: var(--black);
        border-radius: 12px 12px 0 0;
        height: 380px;
        background-image: url('assets/bg-pattern-2.svg');
        background-size: 280px 420px;
        background-repeat: no-repeat;
        background-position: top center;
    }

    .hero__image {
        display: flex;
        justify-content: center;
        transform: translate(0px, -98px);
    }

    .sub__wrapper {
        padding: 48px 37px; 

    }

    .sub__body--text {
        margin: 12px 0px 36px;
    }

    footer {
        padding: 64px 24px 80px;    
    }

    .footer__logo {
        margin-bottom: 32px;
    }

    .footer__copyright {
        margin-bottom: 64px;
    }

    .footer__email {
        display: block;
    }

    .footer__socials {
        width: 100px;
        display: flex;
        justify-content: space-between;
    }

    #phone {
        width: 208.97px;
        height: 430px;
    }

    #ios {
        margin-top: 32px;
    }
}

/* TABLET */
@media only screen and (min-width: 636px) and (max-width: 1013px) {
    h1 {
        font-size: 64px;
        letter-spacing: -0.73px;
        line-height: 64px;
    }
    .cta__body--text, .sub__body--text {
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
    }

    body {
        background-image: url('assets/bg-main-tablet.png');
        background-size: 983px 808px;
        background-position: top -112px left -254px;
        background-repeat: no-repeat;
    }

    .container {
        background-image: url('assets/bg-pattern-1.svg');
        background-repeat: no-repeat;
        background-size: 266.67px 400px;
        background-position: top -32px right -35.67px;
        padding: 0px 39px;
    }

    header {
        padding: 61.99px 0px 95.01px;
    }

    .cta__wrapper {
        width: 520px;
        margin-bottom: 249px;
    }

    .cta__header {
        margin-bottom: 28px;
    }

    .hero {
        height: 600px;
        width: 100%;
        background: var(--black);
        border-radius: 12px;
        display: flex;
        background-image: url('assets/bg-pattern-2.svg');
        background-size: 280px 420px;
        background-position: top center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: space-between;
    }
    
    .hero__image {
        position: relative;
        top: -138px;
        left: 64px;
        z-index: 1;
    }
    #phone {
        width: 270.21px;
        height: 556px;
    }

    .sub__wrapper {
        width: 399px;
        padding: 48px;
        position: relative;
        top: 150px;
        right: 58px;
        z-index: 2;
    }

    .sub__header {
        margin-bottom: 12px;
    }

    .sub__body {
        margin-bottom: 36px;
    }

    .sub__price {
        margin-bottom: 32px;
    }

    footer {
        margin-top: 183px;
        margin-bottom: 85px;
        display: flex;
        flex-wrap: wrap;
    }

    .footer__logo {
        width: 100%;
        margin-bottom: 32.01px;
    }

    .footer__bottom {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .footer__copyright {
        width: 366px;
    }

    .footer__socials {
        display: flex;
        width: 100px;
        justify-content: space-between;
    }
}

/* DESKTOP */
@media only screen and (min-width: 1013px){
    h1 {
        font-size: 88px;
        letter-spacing: -1px;
        line-height: 88px;
    }
    .cta__body--text, .sub__body--text {
        font-weight: 400;
        font-size: 20px;
        line-height: 34px;
    }

    body {
        background-image: url('assets/bg-main-desktop.png');
        background-repeat: no-repeat;
        background-position: top -112px left -146px;
    }

    .container {
        background-image: url('assets/bg-pattern-1.svg');
        background-repeat: no-repeat;
        background-size: 312px 468px;
        background-position: top -40px right;
        padding: 0px 165px;
    }

    header {
        padding: 61.99px 0px 127.01px;
    }

    .cta__wrapper {
        padding-right: 294px;
        margin-bottom: 321px;
    }

    .cta__header {
        margin-bottom: 40px;
    }

    .hero {
        height: 600px;
        width: 100%;
        background: var(--black);
        border-radius: 12px;
        display: flex;
        justify-content: space-between;
        background-image: url('assets/bg-pattern-2.svg');
        background-size: 312px 468px;
        background-position: top -40px left 336px;
        background-repeat: no-repeat;
    }
    
    .hero__image {
        position: relative;
        top: -213px;
        left: 102px;
        z-index: 1;
    }
    #phone {
        width: 312px;
        height: 642px;
    }

    .sub__wrapper {
        width: 399px;
        padding: 58px 59px 48px 54px;
        position: relative;
        top: 90px;
        right: 95px;
        z-index: 2;
    }

    .sub__header {
        margin-bottom: 12px;
    }

    .sub__body {
        margin-bottom: 36px;
    }

    .sub__price {
        margin-bottom: 32px;
    }

    footer {
        margin-top: 201.99px;
        margin-bottom: 91px;
        display: flex;
        width: 100%;
    }

    .footer__logo {
        width: 146.09px;
        margin-right: 137.76px;
    }

    .footer__bottom {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .footer__copyright {
        width: 366px;
    }

    .footer__socials {
        display: flex;
        width: 100px;
        justify-content: space-between;
    }
}